@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Desktop first

@mixin vp-1919 {
  @media (max-width: ($vp-1920 - 1px)) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 1px)) {
    @content;
  }
}

@mixin vp-699 {
  @media (min-width: ($vp-700)) {
    @content;
  }
}

@mixin vp-1019 {
  @media (min-width: ($vp-1020)) {
    @content;
  }
}

@mixin max-vp-1019 {
  @media (max-width: ($vp-1020 - 1px)) {
    @content;
  }
}

// Fonts

@mixin font-header {
  font-family: $header-font, $common-font, sans-serif;
  font-weight: 800;
  font-style: normal;
}

@mixin font-header-900 {
  font-family: $header-font, $common-font, sans-serif;
  font-weight: 800;
  font-style: normal;
}

@mixin font-header-700 {
  font-family: $header-font, $common-font, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin font-header-400 {
  font-family: $header-font, $common-font, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-bold {
  font-family: $common-font, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin font-regular {
  font-family: $common-font, sans-serif;
  font-weight: 400;
  font-style: normal;
}
